body {
    background-color:rgba(226, 226, 226, 0);
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif
}

.navbar {
    background-color: #45B8FF ;
}
.category{
background-color: #45B8FF;
}
.forum-col {
    min-width: 256px;
}
.last-post-col{
    min-width: 192px;
}

#footer{
    width:100%;
    background:rgba(53, 53, 61, 0.733);
    padding: 0 0 30px 0;
    color:#eee;
    text-decoration:none;
    font-size: 14px;
}
#footer .footer-top{
    background: #004a99;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer  .footer-info h3{
    font-size: 34px;
    margin:0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 400;
    Letter-spacing: 3px;
    text-transform: uppercase; 
}

#footer .footer-top .footer-info p{
    font-size: 13px;
    Line-height: 13px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
}

/*Footer Social links*/
#footer .social-links a{
    font-size: 18px;
    display: inline-block;
    background: #007bff;
    color:#fff;
    Line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3;
}

/*Hover for footer social links*/
#footer .social-links a:hover{
    background-color:red;
}

#footer  h4{
    font-size: 14px;
    font-weight: 14px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    padding-top:30px;
}


#footer .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-links ul{
    List-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-links ul a{
    color:#eee;

}

#footer .footer-links ul a:hover{
    color: burlywood;
}

#footer .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-contact p {
margin-bottom: 26px;
}

#footer .footer-newsletter{
    margin-bottom: 30px;
}

/*Styling the footer nnewsletter mail button*/
#footer .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    height:35px;
}

/*Footer newsletter submit button*/
#footer .footer-newsletter input[type="submit"] {
  background: red;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor:pointer;
}

/*Adding hover to the footer submit button*/
#footer .footer-newsletter input[type="submit"]:hover {
    background-color:blue;
    border:1px solid green;
    border-radius:5px;
    
}
#footer .copyright{
    text-align:center;
    padding-top: 30px;

}
#footer .credits {
text-align: center;
font-size: 13px;
color: #f1f7ff; 
}

#footer .credits a {
color: #bfddfa;
}
#footer .credits a:hover {
color: #f1f7ff; 
}
@media screen and (max-width: 600px) {
    #footer {
    
  text-align:center;
    }
}